/node_modules
/nodes
/outputs
package-lock.json
.node-xmlhttprequest**
instance.txt
instnceid.txt
publicip.txt
aws.0.sh
aws.2.sh
aws.4.sh
aws.6.sh
aws.8.sh
enodeawslistip2.txt
enodeawslistip4.txt
enodeawslistip6.txt
enodeawslistip8.txt
ip2.txt
ip4.txt
ip6.txt
ip8.txt
static-nodesip2.txt
static-nodesip4.txt
static-nodesip6.txt
static-nodesip8.txt
